# Pandas Tutorials

install Pandas

In [1]:
# Installation of Pandas
! pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-1.1.5-cp36-cp36m-manylinux1_x86_64.whl (9.5 MB)
     |████████████████████████████████| 9.5 MB 2.6 MB/s eta 0:00:01     |███                             | 921 kB 7.2 MB/s eta 0:00:02
Requirement already satisfied: pytz>=2017.2 in /usr/lib/python3/dist-packages (from pandas) (2018.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/speedtech/.local/lib/python3.6/site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.15.4 in /home/speedtech/.local/lib/python3.6/site-packages (from pandas) (1.19.5)
Requirement already satisfied: six>=1.5 in /home/speedtech/.local/lib/python3.6/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: pandas
Successfully installed pandas-1.1.5
WARNING: You are using pip version 21.2.4; however, version 21.3.1 is available.
You should consider upgrading via the '/usr/bin/python3 -m pip install --upgrade pip' command.

In [2]:
import numpy as np
import pandas as pd

In [3]:
print(pd.__version__)

1.1.5

What is a Series?

In [5]:
s = pd.Series([1,2,3,4,5,6])
print(s)
print(type(s))

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64
<class 'pandas.core.series.Series'>

In [6]:
# Access elements
s[1]

2

In [7]:
s[4]

5

In [11]:
# You can name series index
s = [1,2,3,4,5,6]

s_1 =pd.Series(s,index=['a','b','c','d','e','f'])

print(s_1)

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int64

In [14]:
# Acess items using labels

s_1['a']

1

In [17]:
s_1['d']

4

In [18]:
s_1['f']

6

In [19]:
# key/value objects as Series

stud = {'Nitin':10,'Datta':20,'Rahul':30}

stud_1 = pd.Series(stud)
print(stud_1)

Nitin    10
Datta    20
Rahul    30
dtype: int64

In [22]:
calories = {
    'day1': 100,
    'day2':234,
    'day3':600,
    'day4':200
}

cal_s = pd.Series(calories)
print(cal_s)

day1    100
day2    234
day3    600
day4    200
dtype: int64

In [23]:
cal_s['day1']

100

In [24]:
cal_s['day4']

200

In [25]:
cal_new = pd.Series(cal_s,index=['day1','day2'])

print(cal_new)

day1    100
day2    234
dtype: int64

# DataFrame

In [34]:
data = {
    'Name':['Nitin','Rahul','Datta'],
    'Marks':[80,90,95]
}

df = pd.DataFrame(data)
print(df)

    Name  Marks
0  Nitin     80
1  Rahul     90
2  Datta     95

Locating a Row

In [36]:
print(df.loc[0])

Name     Nitin
Marks       80
Name: 0, dtype: object

In [37]:
print(df.loc[2])

Name     Datta
Marks       95
Name: 2, dtype: object

In [43]:
s = df.loc[[1]]
s

    Name  Marks
1  Rahul     90

In [41]:
val = df.loc[[0,1,2]]
val

    Name  Marks
0  Nitin     80
1  Rahul     90
2  Datta     95

In [49]:
# Named indices

data ={
    'calories' : [200,300,350,100],
    'duration': [40,50,32,60]

    
}

df = pd.DataFrame(data,index=['day1','day2','day3','day4'])

#print(df)
df

      calories  duration
day1       200        40
day2       300        50
day3       350        32
day4       100        60

In [50]:
#named index

s = df.loc[['day2']]
s

      calories  duration
day2       300        50

In [51]:
s = df.loc[['day1','day2']]
print(s)

      calories  duration
day1       200        40
day2       300        50

In [52]:
print(df.loc['day1'])

calories    200
duration     40
Name: day1, dtype: int64

In [54]:
print(df['calories'])

day1    200
day2    300
day3    350
day4    100
Name: calories, dtype: int64

In [56]:
print(df['duration'])

day1    40
day2    50
day3    32
day4    60
Name: duration, dtype: int64

In [57]:
print(df.calories)
print(df.duration)
print(df)

day1    200
day2    300
day3    350
day4    100
Name: calories, dtype: int64
day1    40
day2    50
day3    32
day4    60
Name: duration, dtype: int64
      calories  duration
day1       200        40
day2       300        50
day3       350        32
day4       100        60